* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
}
form {
  width: 330px;
  height: 630px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0px auto;
}
label {
  margin-left: 0.7rem;
  font-weight: 600;
  color: navy;
}
input,
select {
  margin-left: 0.5rem;
  margin-top: 3px;
  width: 92%;
  height: 6vh;
  border-radius: 5px;
  border-style: none;
  font-size: 16px;
  padding-left: 10px;
}

form button{
  margin-left: 0.5rem;
  margin-top: 10px;
  width: 30%;
  height: 6vh;
  border-radius: 5px;
  background-color: teal;
  color: white;
  border-style: none;
  font-weight: 600;
  font-size: 15px;
}
